@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600&family=Playfair+Display:wght@400;500;600&display=swap');

h2 {
    text-align: center;
    font-family: "Playfair Display", sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #766c5b;
}

.about p {
    padding: 15px;
    margin: 15px;
}

#bio-photo {
    height: 150px;
    width: 150px;
}

body {
    background-color: #efe9db;
    /* margin-top: 75px;
    margin-bottom: 150px; */
}

.color {
    background-color: #efe9db;
}

a {
    color: #766c5b;

}

a:hover {
    color: #bbad94;
}

.btn-color {
    background-color: #766c5b;
    color: white;
}

.btn-color:hover {
    color: #bbad94;
}
.center {
    margin: auto;
}